<!DOCTYPE html>
<html>

  {{ partial "head.html" . }}

  <body>

    {{ partial "header.html" . }}

    <div class="page-content">
      <div class="wrapper">
          LOAD&#34;*&#34;,8,1<br/>
          <br/>
          SEARCHING FOR *<br/>
          ?FILE NOT FOUND ERROR<br/>
          READY.<br/>
          404 PRINT&#34;404 ERROR&#34;<br/>
          RUN<br/>
          404 ERROR<br/>
          <br/>
          READY.<br/>
          LOAD<br/><br/>
          PRESS PLAY ON TAPE<br/>
          <br/>
          <br/>
          <br/>
          <br/>
      </div>
    </div>

    {{ partial "footer.html" . }}

  </body>

</html>
